body,
html {
    width: 100%;
    height: 100%;


}

h2, h3{
    font-family: 'Space Mono', monospace; 
    text-transform: uppercase;
    color:grey;
}
.panel-body{
    background: rgb(247, 250, 255);

}
.panel{
    box-shadow: 1px 1px 10px 1px #8397B3;
}

.well{
    background: rgb(247, 250, 255);
}
.btn-primary, .btn-primary:active, .btn-primary:visited{
    background-color:rgb(247, 250, 255);
    color:black;
    border:1px solid #006699;
    margin-bottom:15px;
    /*    box-shadow: 3px 3px 5px #888888;*/
}
.btn-primary:hover{   
    background-color:grey;
}

#person-submit{
    margin-top:10px;
}

/*Forms*/
@media(min-width: 975px){
    .input-padding{
        padding-bottom: 10px;
    }

}
@media screen and (max-width: 767px){
    width: 100% !important;  

}

#main-div{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding:0px;
    width: auto;
}

.user-nav{
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: -6px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

.user-nav-photo {
    background-image: url("/images/user_headshot_32.jpg");
}

.user-profile-photo{
    background-image: url("/images/user_headshot.jpg");
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top:20px;
    /*    margin: -5px;*/
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 0;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#news-search{
    width: 13px;
    height: 13px;
    padding: 0px;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2.1px;
    *overflow: hidden;
}

#news-label{

    display: block;
    padding-left: 15px;
    text-indent: -15px;
}


.navbar, .navbar-default{
    background-image: url("/images/chime_header_2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}
/*.navbar-custom .navbar-brand {
    color: #0088aa;
    font-family: "Lobster", cursive;
    font-size: 47px;
}*/
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color:  #0088aa;
}
@media only screen and (max-width: 766px) {
    .collapsing, .in {background-color: #f7f7f7;}
    .navbar-header{
        background-image: url("/images/chime_header_2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat; 
        background-size:100%;
        background-size:cover;

    }
    /*.collapsing ul li a, .in ul li a {color: #555!important;}*/
    /*.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}*/
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: #0088aa;
    border-color: #0088aa;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #0088aa;
}
.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #42464c;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #0088aa;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #0088aa;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #0088aa;
}
@media (min-width: 768px) {
    .navbar-custom {

        padding-top: 7px;
        padding-bottom:5px;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2.5em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.8em;
    }
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 50px 0;

    border-top: 1px solid #e7e7e7;
    border-bottom: 0px solid black;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

thead tr th{
    text-align:center;
    font-family: 'Space Mono', monospace;

}



@media screen and (max-width: 480px) {
    .nationality{
        width:100%}
}

.nationality{
    width:231px !important;
}

.dob{
    width:231px !important;
}

body{
    font-family: 'Roboto Slab', serif;
}



/*sidebar*/
.row-offcanvas {
    height:100%;
    padding-top:63px;
}

/*body {
  padding-top: 50px;
}*/


#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color:#f5f5f5;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

@media (min-width: 992px) {
    #main {
        height:100%;
        overflow:hidden;
    }
}
@media (max-width: 991px) {
    #main {
        height:100%;
        overflow:auto;
    }
}

.nav-pills li:nth-child(even){
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid grey;  

}

.nav-pills a{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #003a7b;

}

.nav-pills{
    padding-top: 10px;
}

.close{
    color:red;
}

.eye{
    color:lightsteelblue;

}

.nav-pills li:nth-child(odd){
    background-color: rgb(247, 250, 255);
    border-bottom: 1px solid grey;
}

.nav-tabs{
     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color:#003a7b;
}
/*.tab-content{
 border: medium outset;
}*/
.nav-tabs > li > a{
  border: medium none;
  background-color: white; 
  color:grey;

}
.nav-tabs >li.active > a, .nav-tabs>li.active>a:focus{
  border: medium none;
  background-color: #bce8f1;
  color:#003a7b;
}
.nav-tabs > li > a:hover{
  /*background-color: #303136 !important;*/
    border: medium none;
    border-radius: 0;
    color:#fff;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 220px);
    }

    .row-offcanvas-left
    {
        left: -220px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}