<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News API</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

        <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet"/>

        <link th:href="@{/css/chime-style.css}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />


        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"/>

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    </head>

    <style>
        /*        .input-group{
        
                    padding-top: 20px;
                }*/

        .adjust-label{
            padding-botton:20px; 
            padding-top:10px;

        }

    </style>

    <body>


        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" th:href="@{/}">Chime Search</a>
                </div>

                <div class="collapse navbar-collapse" id="collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#zip">Zip Code</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#stock">Stock</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Chime">Chime</a>
                        </li>
                        <!--                    </ul>
                                            <ul class="nav navbar-nav navbar-right">-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="user-nav user-nav-photo"></span> </a>


                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="user-profile-photo"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>Geoffrey bgSauze</strong></p>
                                                <p class="text-left small">bigSauce@packets.com</p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-primary btn-block btn-sm">My Records</a>
                                                </p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-success btn-block btn-sm">Edit Profile</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a th:href="@{/logout}" class="btn btn-danger btn-block">Close Session</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div style="padding-top:110px; padding-bottom:80px;" class="content-section-a" id="source-form">
            <div  class="container ">
                <div class="row space-20">
                    <div class="form-group ">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 ">





                            <label for="multi source search">Multi Source</label>
<!--                            <div class="input-group"> 
                                <select id="multi" class="sources form-control" style="width:100%;" multiple="multiple" aria-describedby="sizing-addon1">                            
                                </select>
                                                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-newspaper-o fa-fw"></i></span>
                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-newspaper-o fa-fw"></i></span>
                            </div>-->

<!--                            <label style="padding-top: 10px;" for="original search">Source</label>-->
                            <div class="input-group"> 

                                 <select id="multi" class="sources form-control" style="width:100%;" multiple="multiple" aria-describedby="sizing-addon1">                            
                                </select>
                                <!--                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-newspaper-o fa-fw"></i></span>-->
                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-newspaper-o fa-fw"></i></span>
                                <span style="padding-left:5px;">           
                                    <button id="filter-source" type="button" class="btn btn-xs btn-primary">Filter</button>
                                </span>
                            </div>
                            <div style="padding-top: 20px; text-align: center" >


                                <div style="display: none" class="well " id="advanced-source">        

                                    <label for="category">Category</label>
                                    <select id="category" style="text-align: center; width:100%; height:100%" aria-describedby="sizing-addon1" class="form-control">
                                        <option value="business">Business</option>
                                        <option value="entertainment">Entertainment</option>
                                        <option value="gaming">Gaming</option>
                                        <option value="general">General</option>
                                        <option value="music">Music</option>
                                        <option value="politics">Politics</option>
                                        <option value="science-and-nature">Science-and-Nature</option>
                                        <option value="sport">Sport</option>
                                        <option value="technology">Technology</option>
                                    </select>

                                    <label class="adjust-label" for="language">Language</label>
                                    <select id="language" style="width:100%; height:100%" aria-describedby="sizing-addon1" class="form-control">
                                        <option value="en">Tea Crumpets</option>
                                        <option value="de">Wienerschnitzel</option>
                                        <option value="fr">Croissant</option>
                                    </select>


                                    <label class="adjust-label" for="country">Country</label>
                                    <select id="country" style="width:100%; height:100%" aria-describedby="sizing-addon1" class="form-control">
                                        <option value="au">Australia</option>
                                        <option value="de">Germany</option>
                                        <option value="gb">Great Britain</option>
                                        <option value="in">Indonesia</option>
                                        <option value="it">Italy</option>
                                        <option value="us">United States</option>
                                    </select>

                                    <div style="margin-top: 15px" class="text-center">
                                        <button id="filter-submit" type="button" class="btn-sm btn-success">Filter</button>
                                    </div>

                                </div>


                            </div>

                            <label for="Sort By">Sort</label>
                            <div class="input-group">    

                                <select id="sort" style="width:100%; height:100%" aria-describedby="sizing-addon1" class="form-control">
                                    <option value="top">Top</option>
                                    <option value="latest">Latest</option>
                                    <option value="popular">Popular</option>
                                </select>
                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o fa-fw"></i></span>
                            </div>
                        </div>


                        <div class="col-md-4">
                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="inline col-md-12 text-center">
<!--                <button id="headlines-submit" type="button" class="btn btn-success">Search Headlines</button>-->

                <button id="multi-article-submit" type="button" class="btn btn-success">Search Headlines</button>
            </div>
        </div>




        <div class="content-section-c"  id="articles">
            <div  class="container">
                <div  style="padding:3em;" class="row">
                    <div style="text-align:center">
                        <h1></h1>
                    </div>

                    <div style="text-align:center" class="panel panel-info">
                        <div  class="panel-heading"><h3 class="panel-title">Articles from Source</h3></div>
                        <table  class="table table-responsive table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Description</th>
                                    <th>Title</th>
                                    <th>Url</th>
                                    <th>Published At</th>
                                    <th>Peter Parker</th>
                                </tr>
                            </thead>
                            <tbody id="article-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">         
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#zip">Chime</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="http://www.integrityonepartners.com/">IOP</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYOne Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
            </div>


            <script type="text/javascript" th:src="@{/js/jquery.min.js}" />


            <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

            <script th:src="@{/js/app.min.js}">
            </script>

            <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>

            <script type="text/javascript">
                $(".sort").select2({
                    placeholder: "Select a Sort"
                });
            </script>

            <script type="text/javascript">
                $(".sources").select2({
                    placeholder: "Select a Source"

                });
            </script>

            <script type="text/javascript">
                $(".multi").select2({
                    placeholder: "Attendees"
                });
            </script>

    </body>
</html>
