<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chime Demo</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link href="css/chime-stylecss" th:href="@{css/chime-style.css}" rel="stylesheet" type="text/css"/>
        <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

     
    </head>
    <body class="background">


        <div id="main-div" class="jumbotron vertical-center">
            <div class="container">
                <div class="row well well-sm">
                    <div>
                        <img src="/images/chime_logo.png" class="center-block img-responsive" alt="Chime Logo"/>
                    </div>
                    <div class="col-lg-4"></div>


                    <div style="text-align: center;  padding-bottom:20px" class="col-lg-4 form-inline">

                        <a class="inline" style="padding-right: 10px" href="/headlines"> <img src="/images/news-search.png" class='img-responsive' style="opacity: 0.5; display:inline" alt="News Search logo"/></a>

                        <a class="inline" style="padding-left: 10px" href="/organization"><img src="/images/person-search.png" class='img-responsive' style="opacity: 0.5; display:inline" alt="Person Search logo"/></a>
                    </div>
                    <div class="col-lg-4"></div>

                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a th:href="@{/headlines}">News Search</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a th:href="@{/organization}">Person Search</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="http://www.integrityonepartners.com/">IOP</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYOne Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>


        <script type="text/javascript" src="js/jquery.min.js" th:src="@{js/jquery.min.js}"/>
        <script type="text/javascript" src="js/bootstrap.min.js"/>
    </body>
</html>
