<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


    <head>
        <title>Login</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

        <style>
            #main-div{
                min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
                min-height: 100vh; /* These two lines are counted as one :-)       */

                display: flex;
                align-items: center;
            }
        </style>

    </head>
    <body>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div id='main-div' class="container">    
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                    <img src="/images/chime_logo.png" class="center-block img-responsive" alt="Chime Logo"/>

                    <!--                    <div style='text-align: center' class="panel-heading">
                                            <div class="panel-title">Chime Demo Sign-In</div>
                                        </div>     -->

                    <div style="padding-top:0px" class="panel-body" >



                        <form th:action="@{/login}" method="post" id="loginform" class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div style="margin-bottom: 25px" class="col-md-6 input-group">

                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username" />
                                    <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div style="margin-bottom: 25px" class="col-md-6 input-group">
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password"/>
                                    <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                                </div>
                                <div class="col-md-3">
                                </div>

                                <div style="margin-top:10px" class="form-group">

                                    <div style='text-align: center' class="col-sm-12 controls">
                                        <div><input class="btn btn-primary" type="submit" value="Chime"/></div>
                                    </div>
                                </div>
                                <div th:if="${param.error}"  id="login-alert" class="alert alert-danger col-sm-12">
                                    <p style="text-align: center">Invalid username and password.  Please check credentials.</p>
                                </div>
                            </div>
                        </form>    



                    </div>                     
                </div>  


            </div>
        </div>
    </body>
</html>