<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Person Results</title>
        <!--<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />-->


        <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet"/>
        <link th:href="@{/css/chime-style.css}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <!--<link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />-->


        <!--<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type='text/css' />-->
        <!--<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"/>-->
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"/>

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>



    </head>

    <body>


        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/chime_logo_brand_1.png}" alt="Chime Logo"/></a>
                </div>

                <div class="collapse navbar-collapse" id="collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#zip">Zip Code</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#stock">Stock</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Chime">Chime</a>
                        </li>
                        <!--                    </ul>
                                            <ul class="nav navbar-nav navbar-right">-->
                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span style="padding:1px;border:1px solid #021a40;background-color:#ff0;" class="user-nav user-nav-photo"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="user-profile-photo"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>Geoffrey bgSauze</strong></p>
                                                <p class="text-left small">bigSauce@packets.com</p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-primary btn-block btn-sm">My Records</a>
                                                </p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-success btn-block btn-sm">Edit Profile</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a th:href="@{/logout}" class="btn btn-danger btn-block">Close Session</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="alert alert-danger" style="display: none; text-align:center"  id="error" role="alert">

        </div>

        <div style="padding-top:10em;"  class="content-section-b" id="">
            <div class="container">
                <div th:each="prsn : ${prsnRtrve}" class="row well">
                    <div class="col-md-4">
                        <div style="text-align:center" class="panel panel-info">
                            <div  class="panel-heading"><h3 class="panel-title">Name</h3></div>
                            <div class="panel-body" align="">  
                                <p th:text="${prsn.fullName}">                               
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="text-align:center" class="panel panel-info">
                            <div  class="panel-heading"><h3 class="panel-title">Details</h3></div>
                            <div class="panel-body" align="">  
                                <label>Height:&nbsp;</label><p th:text="${prsn.height}"></p>                               
                                <label>Weight:&nbsp;</label><p th:text="${prsn.weight}"></p>        
                                <label>Eye Color&nbsp;</label><p th:text="${prsn.eyeColor}"></p>        
                                <label>Hair Color&nbsp;</label><p th:text="${prsn.hairColor}"></p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align:center" class="panel panel-info">
                            <div  class="panel-heading"><h3 class="panel-title">Address</h3></div>
                            <div class="panel-body" align="">
                             <label>Address:&nbsp;</label>  <p th:text="${prsn.address}"></p>
                               <label>Type:&nbsp;</label><p th:text="${prsn.addressType}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">  
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a th:href="@{/}">Chime</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="http://www.integrityonepartners.com/">IOP</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYOne Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:src="@{/js/jquery.min.js}" />


        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>
        <script th:src="@{/js/app.min.js}"></script>

        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>

        <script type="text/javascript">
            $(".nationality").select2({
                placeholder: "Select a state",
                allowClear: true
            });

        </script>
    </body>
</html>