<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Person Search</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet"/>
        <link th:href="@{/css/chime-style.css}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"/>

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>

    <style>
        .input-group{
            padding-top: 30px;
        }
    </style>

    <body>

        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/chime_logo_brand_1.png}" alt="Chime Logo"/></a>
                </div>

                <div class="collapse navbar-collapse" id="collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#zip">Zip Code</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#stock">Stock</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Chime">Chime</a>
                        </li>

                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span style="padding:1px;border:1px solid #021a40;background-color:#ff0;" class="user-nav user-nav-photo"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="user-profile-photo"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>Geoffrey bgSauze</strong></p>
                                                <p class="text-left small">bigSauce@packets.com</p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-primary btn-block btn-sm">My Records</a>
                                                </p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-success btn-block btn-sm">Edit Profile</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a th:href="@{/logout}" class="btn btn-danger btn-block">Close Session</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="row-offcanvas row-offcanvas-left">
            <div id="sidebar" class="sidebar-offcanvas">
                <div class="col-md-12">

                </div>
                <div style="text-align: center" class="col-md-12">
                    <h3>Source</h3>
                    <div style="padding-bottom:10px" >
                        <select  name="src-slct" id="src-slct" multiple="multiple" class="src-slct form-control">
                            <option></option>
                            <option value="Person">Person</option>
                            <option value="Organization">Organization</option>
                            <option value="Vehicle">Vehicle</option>
                            <option value="WY">Random2</option>
                        </select>  
                    </div>
                    <ul  class="nav nav-tabs">
                        <li class="active">
                            <a  href="#1" data-toggle="tab">Entity</a>
                        </li>
                        <li><a href="#2" data-toggle="tab">Source</a>
                        </li>
                    </ul>
                    <div  class="tab-content clearfix">
                        <div class="tab-pane" id="2">
                            <h3></h3>               
                            <ul id="operations-table" class="nav nav-pills nav-stacked">

                            </ul>
                        </div>
                        <div class="tab-pane active" id="1">
                            <h3></h3>               
                            <ul class="nav nav-pills nav-stacked">
                                <li class=""><a href="#">LCM<span id="" style="padding-left:10px" class="eye glyphicon glyphicon-ok"></span></a></li>
                                <li class="disabled"><a href="#">Random</a></li>
                                <li class="disabled"><a href="#">Random</a></li>
                                <li class="disabled"><a href="#">Random</a></li>
                                <li class="disabled"><a href="#">Random</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main">
                <div class="col-md-12">

                    <h2 style="text-align: center;">Chime Query Form</h2>
                    <div class="row" id="top">

                        <div class="col-md-4"/>
                        <div id='srchRslCol' style=''  class="col-md-4">
                            <div class="well">
                                <div id='srchRslts' style="text-align:center" class="panel panel-info">
                                    <div class="panel-heading"><h3 class="panel-title">Current Search</h3>                              
                                    </div>
                                    <table id="req-table" class="table">
                                        <thead>
                                            <tr>
                                                <th>Searching</th>
                                                <th>Requirements</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"/>

                        <p class="visible-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        </p>
                    </div>
                </div>

                <form role="form" data-toggle="validator" id="prsn-form" th:action="@{/query/results}" method="post"  class="form-inline">


                    <input name="entities" id="entities" type="text" class="hidden"></input>
                    <input name="sources" id="sources" type="text" class="hidden" />

                    <button id="form-submit" type="submit"  class="btn btn-primary center-block">Submit</button>
                    <div style="text-align:center" class="panel panel-default">
                        <div class="panel-body" align="">  
                            <div style="text-align:center" class="Person panel panel-info">
                                <div class="panel-body" align="">  
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="person.givenName" type="text"  class="form-control  center-block"   data-toggle="tooltip" data-placement="bottom"  placeholder="Given name" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="person.middleName" type="text" class="form-control" placeholder="Middle name" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                                
                                            </div>
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback">
                                                <input name="person.surname" type="text"  class="form-control" placeholder="Surname" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="eyeColor" type="text" class="form-control  center-block" placeholder="Eye color" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="hairColor" type="text" class="form-control" placeholder="Hair color" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                            <div style="display:none" class="Person inactive input-parent  form-group has-feedback input-padding">
                                                <input name="height" type="text" class="form-control" placeholder="Height" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="weight" type="text" class="form-control" placeholder="Weight" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input name="gender" type="text" class="form-control" placeholder="Gender" />
                                                <i class="form-control-feedback glyphicon glyphicon-user"></i>
                                            </div>
                                            <!--<div><label style="font-size:10px">DOB</label></div>-->
                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback input-padding">
                                                <input type="date" name="dob" min="1910-01-01" class="form-control dob" placeholder="DOB" />
                                                <i class="form-control-feedback">dob</i>
                                            </div>

                                            <div style="display:none" class="Person inactive input-parent form-group has-feedback">
                                                <select  name="nationality" id="nationality" style="" class="nationality form-control">
                                                    <option></option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="WY">Wyoming</option>
                                                    <option value="WY">America</option>
                                                    <option value="WY">Montana</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div style="text-align:center; display:none" class="Vehicle input-parent  inactive panel panel-info">
                                        <!--<div class="panel-heading"><h3 class="panel-title">Organization</h3></div>-->
                                        <div class="panel-body" align="">  
                                            <div class="form-group has-feedback input-padding">
                                                <input name="vehicle" type="text" class="form-control  center-block" placeholder="Vehicle" />
                                                <i class="form-control-feedback glyphicon glyphicon-road"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:center; padding-top:" class="col-md-4">
                                    <div style="text-align:center; display:none;" class="Organization input-parent inactive panel panel-info">
                                        <div class="panel-body" align="">  
                                            <div class="form-group has-feedback input-padding">
                                                <input name="organization.orgName" type="text" class="form-control center-block" placeholder="Org. name" />
                                                <i class="form-control-feedback glyphicon glyphicon-tower"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">  
                                    <div style="text-align:center; display:none" class="Vehicle input-parent inactive panel panel-info">
                                        <!--<div class="panel-heading"><h3 class="panel-title">Organization</h3></div>-->
                                        <div class="panel-body" align="">  
                                            <div class="form-group has-feedback input-padding">
                                                <input name="vehicle" type="text" class="form-control center-block" placeholder="Vehicle" />
                                                <i class="form-control-feedback glyphicon glyphicon-road"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer style="background-color:#F7FAFF">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a th:href="@{/}">Chime</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="http://www.integrityonepartners.com/">IOP</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYOne Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>


        <script type="text/javascript" th:src="@{/js/jquery.min.js}" />


        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <script type="text/javascript" th:src="@{/js/validator.js}" />

        <script th:src="@{/js/app.js}"></script>

        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>

        <script type="text/javascript">
            $(".nationality").select2({
                placeholder: "Select a state",
                responsive: true,
                allowClear: false,
                width: 'resolve'
            });
        </script>
        <script type="text/javascript">

            $(".src-slct").select2({
            });
        </script>
    </body>
</html>
